* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #342929;

}

/* Debut WithOutHeader */

.WithOutHeader {
    height: 100%;
    width: 90%;
    display: flex;
}

/* Contenu */

.content{
    display : flex;
    position: relative;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align: center;
    color: #FFFFFF;
    top : 75px;
    left : 10%;
    width: 80%;
    z-index: 1;
}

.content h1{
    color : #FFFFFF;
    margin: 25px;
    font-size: 3em;
}

.content h2{
    color : #FFFFFF;
    margin: 20px;
    font-size: 2.25em;
}

.content p{
    color : #FFFFFF;
    padding: 15px;
    font-size: 1.5em;
}

/* Fin contenu */