* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #342929;

}

/* Header */

header {
    height: 100px;
    width: 100%;
    background-color: #A47979;
    display: flex;
    justify-content: space-between;
}

.title {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.title img{
    display: flex;
    justify-content: flex-start;
}

header h1 {
    color: black;
    padding-top: 30px;
}

.nav {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul li {
    color: white;
    padding: 15px;
    margin-right: 10px;
    display: inline;
    border-radius: 35px;
    border: none;
    background-color: #629AEE;
}

/* Fin header */

/* Debut navbar */

.WithOutHeader {
    height: 100%;
    width: 100%;
    display: flex;
}

.categorie {
    position: relative;
    border-top: 2px solid #342929;
    width: 15%;
    min-height: calc(100vh - 100px); /* Hauteur de la fenÃªtre moins la hauteur du header */
    background-color: #A47979;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.categorie ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le remplissage par dÃ©faut de la liste */
}

.categorie ul li {
    list-style: none; /* Supprime les puces des Ã©lÃ©ments de la liste */
    margin: 0; /* Supprime les marges par dÃ©faut des Ã©lÃ©ments de la liste */
    padding: 0; /* Supprime le remplissage par dÃ©faut des Ã©lÃ©ments de la liste */
}

/* Fin navbar */

/* Contenu */

.content{
    display : flex;
    position: relative;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align: center;
    color: #FFFFFF;
    top : 75px;
    left : 10%;
    width: 80%;
    z-index: 1;
}

.content h1{
    color : #FFFFFF;
    margin: 25px;
    font-size: 3em;
}

.content h2{
    color : #FFFFFF;
    margin: 20px;
    font-size: 2.25em;
}

.content p{
    color : #FFFFFF;
    padding: 15px;
    font-size: 1.5em;
}

/* Fin contenu */