* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    background-color: #342929;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: #A47979;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.title {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.title img{
    display: flex;
    justify-content: flex-start;
    height: 75px;
    width: 75px;
    margin: 10px;
}

header h1 {
    color: #629AEE;
    padding-top: 30px;
}

.searchbar {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input {
    height: 50px;
    width: 60%;
    border-radius: 35px;
    background-color: #629AEE;
    border: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-left: 20px;
    color: #F5D8D8;
    font-size: 20px;
}

/* .searchbar ::placeholder{
    color: #F5D8D8;
    font-size: 20px;
} */

.nav {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul li {
    color: white;
    padding: 15px;
    margin-right: 50px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 35px;
    border: none;
    background-color: #629AEE;
}

.bouton {
    cursor: pointer;
}

/* Fin header */

/* Début animation bouton */

.bouton:hover {
    background-color: #F5D8D8;
    color: #629AEE;
    transition: 0.5s;
}

/* Fin animation bouton */

/* Debut popup */

.popup {
    height: 600px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
}

.close-button {
    cursor: pointer;
    color: black;
    border: none;
    background-color: transparent;
}

.main-div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.log{
    text-align: center;
    font-size: 40px;
}

.input-div {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-div label {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.email, .password{
    height: 50px;
    width: 80%;
    border-radius: 35px;
    background-color: #629AEE;
    border: none;
    margin-bottom: 20px;
    color: #F5D8D8;
    font-size: 20px;
}

.email::placeholder, .password::placeholder{
    padding-left: 20px;
}

.conditions {
    height: 20%;
    width: 100%;
    display: flex;

}

.inscription {
    height: 30%;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;

}

.inscription h1 {
    color: black;
    font-size: 20px;
}

.inscription p {
    cursor: pointer;
    font-size: 20px;
    color: #629AEE;
    padding-left: 10px;
}

.inscription p:hover {
    text-decoration: underline;
}

/* Fin popup */

/* Debut WithoutHeader */

.WithOutHeader {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 102px;
}

/* Debut navbar verticale */

/*partie catégorie*/

.div-categorie {
    position: fixed;
    border-top: 2px solid #342929;
    height: 100vh;
    width: 15%;
    background-color: #A47979;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.categorie {
    font-size: 20px;
    padding: 10px;
    padding-top: 20px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*partie menu page*/

.categorieCP {
    position: relative;
    border-top: 2px solid #342929;
    width: 15%;
    min-height: calc(100vh - 100px); 
    background-color: #A47979;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.categorieCP ul{
    display: flex;
    flex-direction: column;
}

.categorieCP ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 15px;
    padding: 15px;
    border-radius: 35px;
    border: none;
    background-color: #629AEE;
}

/* Fin navbar verticale */

/* Fin WithoutHeader */

/* Contenu */

.content{
    display : flex;
    position: relative;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    text-align: center;
    color: #FFFFFF;
    top : 75px;
    left : 10%;
    width: 70%;
    z-index: 1;
}

.content h1{
    color : #FFFFFF;
    margin: 25px;
    font-size: 3em;
}

.content h2{
    color : #FFFFFF;
    margin: 20px;
    font-size: 2.25em;
}

.content p{
    color : #FFFFFF;
    padding: 15px;
    font-size: 1.5em;
}

/* Fin contenu */

