@font-face {
    font-family: 'inter';
    src: url('/FRONTEND/ASSETS/FONT/inter/Inter-VariableFont_slnt,wght.ttf');
}

/* @media screen and (min-width: 768px) {
    * {
        display: none;
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    background-color: #272727;
    font-family: 'inter';
    color: white;
    overflow-x: hidden;
}