* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #342929;
}

/* Debut WithOutHeader */

.WithOutHeader {
    height: 100%;
    width: 100%;
    display: flex;
}

.WithOutHeader .Left{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #342929;
}

.WithOutHeader .Right{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #342929;
}

/* Debut menu topic */

.TopicMenu{
    background-color: #ECD4D4;
    height: 80px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 20px;
    color: black;
}

.TopicMenu .ListeTopic{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.TopicMenu ul li{
    color: white;
    padding: 15px;
    display: inline-flex; 
    border-radius: 35px;
    border: none;
    background-color: #629AEE;
}

.TopicMenu input{
    height: 20px;
    width: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.TopicMenu label{
    font-size: 20px;
}

/* Fin menu topic */

/* Début topic content */

.TopicContent{
    background-color: #ECD4D4;
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fin topic content */

/* Début information du compte */

.InfoAccountContent{
    background-color: #ECD4D4;
    height: 525px;
    width: 500px;
    display: flex;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fin information du compte */

/* Fin WithOutHeader */