* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #342929;

}

/* Debut WithOutHeader */

.WithOutHeader {
    height: 100%;
    width: 100%;
    display: flex;
}

.WithOutHeader .Left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #342929;
}

.WithOutHeader .Right{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #342929;
}

/* Debut checkbox topic */

.CheckBoxTopicMenu{
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin : 20px;
    color: white;
}

.CheckBoxTopicMenu .NewTopic, .TopicFollow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CheckBoxTopicMenu input{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: #629AEE;
    border: none;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.CheckBoxTopicMenu label{
    font-size: 20px;
}

/* Fin menu checkbox topic */

/* Début topic content */

.TopicContent{
    min-height: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fin topic content */

/* Début information du compte */

.InfoAccountContent{
    min-height: 600px;
    max-width: 90%;
    display: flex;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fin information du compte */

/* Fin WithOutHeader */