/* debut main */

/* debut topic */

.div-topic {
    margin-top: 100px;
    margin-left: 15%;
    height: 100%;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topic {
    height: 200px;
    width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}


