<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/CGU.css">
        <title>Condition général d'utilisation</title>
    </head>

    <body>

       <div class="header">
            <div id="titre">
                <h1>Condition général d'utilisation</h1>
            </div>
        </div>

        <div class="menu_vertical">
            <ul>
                <li><a class="active" href="CGU.html"> CGU </a></li>
                <li><a href="Politique.html"> Politique de confidentialité </a></li>
            </ul>
        </div>
        <div class="content">My Sticky vertical navbar is not visible right now behind the navbar</div>

        <div class="content">
            <p> aaa </p>
        </div>

    </body>
</html>