<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Commun.css">
        <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Compte.css">
        <title>Mon Compte</title>
    </head>
    <body>
        <div class = "background">
            <header>
                <div class="title">
                    <a href="/"><img src="/FRONTEND/ASSETS/IMG/Logo.png" alt="Logo" class="Logo"></a>
                    <h1><a href="/">BlueDit</a></h1>
                </div>
                <div class="searchbar">
                    <input type="text" placeholder="Rechercher sur BlueDit">
                </div>
                <div class="nav">
                    <ul>
                        <li class="bouton BoutonHeader BoutonConnexion" id="login" onclick="Deconnexion()">Se connecter</li>
                        <a href="/Compte"><li class="bouton BoutonHeader BoutonCompte">Mon compte</li></a>
                    </ul>
                </div>
                <div class="popupconnexion">
                    <div class="popup-header">
                        <span class="close-button">&times;</span>
                    </div>
                    <div class="main-div">
                        <h1 class="title_popup">Se connecter</h1>
                        <div class="input-div">
                            <input type="email" class="email" placeholder="E-mail">
                            <input type="password" class="password" placeholder="Mot de passe">
                        </div>
                        <div class = "log">
                            <button id="BoutonConnexionPopup" class="login" onclick="Connexionpopup()">Se connecter</button>
                        </div>
                        <div class="conditions">
                            <p>En vous connectant, vous acceptez les <a href="/CGU">Conditions d'utilisation</a> et la <a href="/Private">Politique de confidentialité</a> de BlueDit.</p>
                        </div>
                        <div class="inscription">
                            <h1>Première fois sur BlueDit ?</h1>
                            <p id="BoutonInscription">S'inscrire</p>
                        </div>
                    </div>
                </div>
                <div class="popupinscription">
                    <div class="popup-header">
                        <span class="close-button">&times;</span>
                    </div>
                    <div class="main-div">
                        <h1 class="title_popup">S'inscrire</h1>
                        <div class="input-div">
                            <input type="username" class="username" placeholder="pseudonyme">
                            <input type="email" class="email" placeholder="E-mail">
                            <input type="password" class="password" placeholder="Mot de passe">
                        </div>
                        <div class = "log">
                            <button id="BoutonInscriptionpopup" class="login" onclick="Inscription()">S'inscrire</button>
                        </div>
                        <div class="conditions">
                            <p>En vous connectant, vous acceptez les <a href="/CGU">Conditions d'utilisation</a> et la <a href="/Private">Politique de confidentialité</a> de BlueDit.</p>
                        </div>
                    </div>
                </div>
            </header>
            <div class = "WithOutHeader">
                <div class="Left">
                    <div class="TopicMenu">
                        <ul class="ListeTopic">
                            <li class="bouton">Topic Suivi</li>
                            <li class="bouton">Nouveau Topic</li>
                        </ul>                    
                    </div>
                    <div class="TopicContent">
                        
                    </div>
                </div>
                <div class="Right Top">
                    <div class="InfoAccountContent">
                    </div>
                </div>
            </div>
        </div>
        <script src="/FRONTEND/JS/script.js"></script>
        <script src="/FRONTEND/JS/popup.js"></script>
    </body>
</html>