<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Header.css">
        <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Compte.css">
        <title>Mon Compte</title>
    </head>
    <body>
        <div class = "background">
            <header>
                <div class = "title">
                    <img src = "/FRONTEND/ASSETS/IMG/Logo.png" alt = "Logo" class = "Logo">
                    <h1>BlueDit</h1>
                </div>
                <div class = "nav">
                    <ul>
                        <li>Se connecter</li>
                        <li>Mon compte</li>
                    </ul>
                </div>
            </header>
            <div class = "WithOutHeader">
                <div class="Left">
                    <div class="TopicMenu">
                        <div class="NewTopic">
                            <input type="checkbox" id="NewTopic">
                            <label for="NewTopic">Nouveau Topic</label>
                        </div>
                        <div class="TopicFollow">
                            <input type="checkbox" id="TopicFollow">
                            <label for="TopicFollow">Topic Suivi</label>
                        </div>                    
                    </div>
                    <div class="TopicContent">
                        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                    </div>
                </div>
                <div class="Right">
                    <div class="InfoAccountContent">
                        <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>