<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Commun.css">
    <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/index.css">
    <script src="/FRONTEND/JS/script.js"></script>
    <title>Accueil</title>
</head>

<body>
    <div class="background">
        <header>
            <div class="title">
                <a href="/"><img src="/FRONTEND/ASSETS/IMG/Logo.png" alt="Logo" class="Logo"></a>
                <h1><a href="/">BlueDit</a></h1>
            </div>
            <div class="searchbar">
                <input type="text" placeholder="Rechercher sur BlueDit">
            </div>
            <div class="nav">
                <ul>
                    <img class="BoutonMenu" src="/FRONTEND/ASSETS/IMG/burger.png" alt="Menu">
                    <li class="bouton" id="login" onclick="Deconnexion()">Se connecter</li>
                    <a href="/Compte">
                        <li class="bouton">Mon compte</li>
                    </a>
                </ul>
            </div>
            <div class="popupconnexion">
                <div class="popup-header">
                    <span class="close-button">&times;</span>
                </div>
                <div class="main-div">
                    <h1 class="title_popup">Se connecter</h1>
                    <div class="input-div">
                        <input type="email" class="email" placeholder="E-mail">
                        <input type="password" class="password" placeholder="Mot de passe">
                    </div>
                    <div class="log">
                        <button id="BoutonConnexionPopup" class="login" onclick="Connexionpopup()">Se connecter</button>
                    </div>
                    <div class="conditions">
                        <p>En vous connectant, vous acceptez les <a href="/CGU">Conditions d'utilisation</a> et la <a
                                href="/Private">Politique de confidentialité</a> de BlueDit.</p>
                    </div>
                    <div class="inscription">
                        <h1>Première fois sur BlueDit ?</h1>
                        <p id="BoutonInscription">S'inscrire</p>
                    </div>
                </div>
            </div>
            <div class="popupinscription">
                <div class="popup-header">
                    <span class="close-button">&times;</span>
                </div>
                <div class="main-div">
                    <h1 class="title_popup">S'inscrire</h1>
                    <div class="input-div">
                        <input type="username" class="username" placeholder="pseudonyme">
                        <input type="email" class="email" placeholder="E-mail">
                        <input type="password" class="password" placeholder="Mot de passe">
                    </div>
                    <div class="log">
                        <button id="BoutonInscriptionpopup" class="login" onclick="Inscription()">S'inscrire</button>
                    </div>
                    <div class="conditions">
                        <p>En vous connectant, vous acceptez les <a href="/CGU">Conditions d'utilisation</a> et la <a
                                href="/Private">Politique de confidentialité</a> de BlueDit.</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="WithOutHeader">
            <div class="div-categorie MenuLatéral">
                {{range .Categories}}
                <div class="categorie">
                    <div class="dropdown-toggle" onclick="toggleDropdown(this)">
                        {{.Nom}} <img src="/FRONTEND/ASSETS/IMG/arrow.png" alt="arrow">
                    </div>
                    <div class="dropdown-content">
                        {{range $index, $topic := .Topics}}
                        <p onclick="showTopic('{{$topic.ID}}')">{{.Nom}}</p>
                        {{end}}
                    </div>
                </div>
                {{end}}
            </div>
            <div class="div-topic">
                {{range $index, $topic := .Topics}}
                <div class="topic" onclick="showTopic('{{$topic.ID}}')" data-topic-id="{{$topic.ID}}">
                    <div class="topic-title">
                        <p id="blue_arrow">&#10173;</p>
                        <span>{{$topic.Nom}} posté par {{$topic.Pseudonyme}} le {{$topic.Created_date}}</span>
                    </div>
                    <div class="topic-content">
                        <p id="red_arrow">&#10173;</p>
                        <span>{{$topic.Contenu}}</span>
                    </div>
                    <div class="div-option">
                        <button class="comments bouton">Commentaires</button>
                        <button class="report bouton">Signaler</button>
                    </div>
                </div>
                {{end}}
            </div>
            <div id="topic-details">
                <div class="topic-selected">
                    <div id="close-button-topic">
                        <button class="close-button-topic" onclick="closeTopic()">Fermer</button>
                    </div>
                    <div class="topic-title"></div>
                    <div class="topic-content"></div>
                    <div class="div-add-comment">
                        <textarea class="add-comment" placeholder="Ajouter un commentaire"></textarea>
                        <button class="add">Commenter</button>
                    </div>
                    <div class="div-comment"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/FRONTEND/JS/script.js"></script>
    <script src="/FRONTEND/JS/popup.js"></script>
</body>

</html>