<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Commun.css">
    <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/index.css">
    <title>Accueil</title>
</head>
<body>
    <div class = "background">
        <header>
            <div class = "title">
                <img src = "/FRONTEND/ASSETS/IMG/Logo.png" alt = "Logo" class = "Logo">
                <h1>BlueDit</h1>
            </div>
            <div class = "searchbar">
                <input type = "text" placeholder = "Rechercher sur BlueDit">
            </div>
            <div class = "nav">
                <ul>
                    <li class="bouton" id="login" onclick="changerTexte()">Se connecter</li>
                    <li class="bouton" >Mon compte</li>
                </ul>
            </div>
        </header>
        <div class="WithOutHeader">
            <div class="div-categorie">
                {{range .Categories}}
                    <div class="categorie">{{.}}</div>
                {{end}}
            </div>
            <div class="div-topic">
                {{range $index, $topic := .Topics}}
                    <div class="topic">
                        <div class="topic-title">{{$topic.Nom}} poster par: {{$topic.Pseudonyme}} le {{$topic.Created_date}}</div>
                        <div class="topic-content">{{$topic.Contenu}}</div>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <script src="/FRONTEND/JS/script.js"></script>
</body>
</html>