<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/CSS/NCGU.css">
        <title>Condition général d'utilisation</title>
    </head>
    <body>
        <div class = "background">
            <header>
                <div class = "title">
                    <img src = "../IMG/Logo.png" alt = "Logo" class = "Logo">
                    <h1>BlueDit</h1>
                </div>
                <div class = "searchbar">
                    <input type = "text" placeholder = "Rechercher sur BlueDit">
                </div>
                <div class = "nav">
                    <ul>
                        <li>Se connecter</li>
                        <li>Mon compte</li>
                    </ul>
                </div>
            </header>
            <div class = "WithOutHeader">
                <div class = "categorie">
    
                </div>
            </div>
        </div>
    </body>
</html>