<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Commun.css">
        <link rel="stylesheet" type="text/css" href="/FRONTEND/CSS/Private.css">
        <title>Condition général d'utilisation</title>
    </head>
    <body>
        <div class = "background">
            <header>
                <div class = "title">
                    <img src = "/FRONTEND/ASSETS/IMG/Logo.png" alt = "Logo" class = "Logo">
                    <h1>BlueDit</h1>
                </div>
                <div class = "nav">
                    <ul>
                        <li>Se connecter</li>
                        <li>Mon compte</li>
                    </ul>
                </div>
            </header>
            <div class = "WithOutHeader">
                <div class = "categorieCP">
                    <ul>
                        <li> Accueil </li>
                        <li> Compte </li>
                        <li> CGU </li>
                        <li> Politique de confidentialité </li>
                    </ul>
                </div>
                <div class="content">
                    <h1> Politique de confidentialité </h1>
                        <p>
                            Date d'entrée en vigueur : 04/06/2023
                        </p>

                        <p>
                            Chez BlueDit, nous attachons une grande importance à la protection de vos données personnelles. Cette Politique de confidentialité explique comment nous collectons, utilisons, divulguons et protégeons les informations que vous nous fournissez lorsque vous utilisez notre forum. Veuillez lire attentivement cette Politique de confidentialité avant d'utiliser BlueDit. En utilisant BlueDit, vous acceptez les pratiques décrites dans cette Politique de confidentialité.
                        </p>

                        <h2> 1. Informations collectées </h2>

                        <p>
                            1.1. Informations personnelles : Lorsque vous créez un compte sur BlueDit, nous collectons des informations telles que votre nom d'utilisateur, votre adresse e-mail et toute autre information que vous choisissez de nous fournir.
                        </p>

                        <p>
                            1.2. Données d'utilisation : Nous collectons des informations sur votre utilisation de BlueDit, y compris les pages que vous consultez, les discussions auxquelles vous participez et d'autres actions que vous effectuez sur le forum.
                        </p>

                        <p>
                            1.3. Cookies : BlueDit utilise des cookies et des technologies similaires pour collecter des informations sur votre utilisation du forum. Les cookies sont de petits fichiers texte stockés sur votre appareil qui nous aident à fournir une expérience personnalisée et améliorée. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela peut affecter certaines fonctionnalités de BlueDit.
                        </p>

                        <h2> 2. Utilisation des informations</h2>

                        <p>
                            2.1. Nous utilisons les informations collectées pour fournir, gérer et améliorer BlueDit, ainsi que pour répondre à vos demandes, vous contacter, vous envoyer des notifications et vous fournir un support technique.
                        </p>

                        <p>
                            2.2. Nous utilisons également les informations collectées de manière anonyme et agrégée à des fins statistiques et de recherche pour comprendre les tendances d'utilisation et améliorer l'expérience globale des utilisateurs de BlueDit.
                        </p>

                        <h2> 3. Divulgation des informations</h2>

                        <p>
                            3.1. Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers à des fins de marketing sans votre consentement explicite.
                        </p>
                        
                        <p>
                            3.2. Nous pouvons divulguer vos informations personnelles à des tiers dans les cas suivants : <br>
                            - Lorsque cela est nécessaire pour répondre à une demande légale, une ordonnance d'un tribunal ou une autre procédure judiciaire ;<br>
                            - Pour protéger les droits, la propriété ou la sécurité de BlueDit, de nos utilisateurs ou du public ;<br>
                            - Avec votre consentement préalable.
                        </p>

                        <h2> 4. Sécurité des informations</h2>

                        <p>
                            4.1. Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations personnelles contre l'accès non autorisé, la divulgation, l'altération ou la destruction.
                        </p>

                        <p>
                            4.2. Malgré nos efforts pour protéger vos informations, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée. Nous ne pouvons garantir la sécurité absolue de vos informations.
                        </p>

                        <h2> 5. Liens vers des sites tiers</h2>

                        <p>
                            5.1. 5.1. BlueDit peut contenir des liens vers des sites Web de tiers. Cette Politique de confidentialité ne s'applique pas à ces sites. Nous vous encourageons à lire les politiques de confidentialité de ces sites tiers avant de fournir vos informations personnelles.
                        </p>

                        <h2> 6. Modification de la Politique de confidentialité</h2>

                        <p>
                            6.1. Nous nous réservons le droit de modifier cette Politique de confidentialité à tout moment. Toute modification prendra effet dès sa publication sur BlueDit. Il est de votre responsabilité de consulter régulièrement cette Politique de confidentialité pour prendre connaissance des éventuelles modifications.
                        </p>

                        <!-- <p>
                            Si vous avez des questions concernant cette Politique de confidentialité, veuillez nous contacter à [adresse e-mail de contact].
                        </p> -->

                        <p>
                            Merci d'utiliser BlueDit et de nous faire confiance pour la protection de vos informations personnelles !
                        </p>
                </div>
            </div>
        </div>
    </body>
</html>